.container {
  background-color: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
  text-align: center;
}

.title {
  border-bottom: 1px solid black;
}

.nominateButton {
  background-color: red;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.nominateButton:hover {
  background-color: #ff8484;
}

.item {
  display: flex;
  margin: 10px;
  align-items: center;
  gap: 10px;
}
