.title {
	margin: 0;
	background-color: black;
	color: white;
	padding: 5px 10px;
}
.dataContainer {
	display: flex;
	gap: 10px;
	margin: 10px;
	flex-direction: row;
}

.container {
	margin: 0 auto;
}

.checkmark {
	width: 2%;
	border-radius: 20%;
	padding-right: 10px;
}

li {
	padding: 5px 5px;
	list-style-type: none;
	border: 1px solid #eee;
	background-color: #eee;
	margin: 0px auto;
	border-radius: 10px;
}

p {
	margin: 0;
}

.starImg {
	margin-left: 5px;
	width: 3%;
}
